<div class="well">
    <%= link_to fa_icon('user', text: 'Show'), @user, class: "btn btn-success" %>
    <%= link_to fa_icon('undo', text: 'Back'), users_path, class: "btn btn-default" %>
</div>
<div class="panel panel-default">
    <div class="panel-heading">

        <h2 class="panel-title">Editing user</h2>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
</div>
