<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right btn-group">
            <%= link_to fa_icon('asterisk', title: 'Show'), @post, class: "btn btn-success" %>
            <%= link_to fa_icon('undo', title: 'Back'), posts_path, class: "btn btn-default" %>
        </div>

        <h2 class="panel-title">Editing post</h2>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
</div>
